{% block title%}
<title>Ahmedabad Cafes - All cafes & restaurant</title>
{% endblock %}
{% include "header.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/all-cafes.css') }}">
{% endblock %}

<!-- Title -->
<section id="title">
    <div class="inner">
        <h2>All Cafes & Restaurant</h2>
        <p>Check out the best cafes and restaurant<br/>
            around the city of Ahmedabad.</p>
        <ul class="actions special">
            <li><a href="#cafes" class="button primary scrolly">Check Now</a></li>
        </ul>
    </div>
</section>

<!--Cafes & Restaurants -->
<section id="cafes" class="wrapper alt style2">
    <div class="cafes-grid">
        {% for place in places: %}
        <div class="row">
            <div class="card">
              <img src="data:image/png;base64,{{place['image']}}" class="card-img-top cafes-image" alt="...">
              <div class="card-body">
                <h2 class="card-title">{{ place['name'] }}</h2>
                <p class="card-text">{{ place['address'] }}.</p>
              </div>
                    <button class="button fit">See More</button>
                {% if current_user.id < 3: %}
                <button class="button fit remove" onclick='window.location.href="{{ url_for('remove_cafe', cafe_id=place.id) }}"'>Remove</button>
                {% endif %}

            </div>
        </div>
        {% endfor%}
    </div>
</section>

{% include "footer.html" %}