{% block title %}
<title>Ahmedabad Cafes</title>
{% endblock %}
{% include "header.html" %}

<!-- Title -->
<section id="title">
    <div class="inner">
        <h2>Ahmedabad Cafes</h2>
        <p>We don't make coffee,<br/>
            we make your day.</p>
        {% if not current_user.is_authenticated: %}
            <ul class="actions special">
                <li><a href="{{ url_for('sign_in') }}" class="button primary">Sign-in</a></li>
            </ul>
        {% else: %}
            <ul class="actions special">
                <li><a href="{{ url_for('sign_out') }}" class="button primary">Sign-out</a></li>
            </ul>
        {% endif %}
    </div>
    <a href="#intro" class="more scrolly">See More</a>
</section>

<!-- Introduction -->
<section id="intro" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Good ambience - check, Food - check, Drinks - check!<br/>
                Life is short, go out there with your friends & family.</h2>
            <p>Want to celebrate an occasion? Want to go out on a romantic date? Want to chill with your friends?<br/>
                Worry not because we have got you the best-of-best on your fingertip.</p>
        </header>
    </div>
</section>

<!-- Featured -->
<section id="featured" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="data:image/png;base64,{{featured_places[0]['image']}}" alt=""/></div>
        <div class="content">
            <h2>{{ featured_places[0]['name'] }}</h2>
            <p>{{ featured_places[0]['address'] }}.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="data:image/png;base64,{{featured_places[1]['image']}}" alt=""/></div>
        <div class="content">
            <h2>{{ featured_places[1]['name'] }}</h2>
            <p>{{ featured_places[1]['address'] }}.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="data:image/png;base64,{{featured_places[2]['image']}}" alt=""/></div>
        <div class="content">
            <h2>{{ featured_places[2]['name'] }}</h2>
            <p>{{ featured_places[2]['address'] }}.</p>
        </div>
    </section>
</section>

<!-- Add new cafe -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Seen a new cafe recently?</h2>
            <p>Feel free to add new cafes and restaurant here. <br>Sign-In now and become a contributor.</p>
        </header>
        <ul class="actions stacked">
            <li><a href="{{ url_for('search_cafe') }}" class="button fit primary">Add Cafe</a></li>
            <li><a href="{{ url_for('sign_in') }}" class="button fit">Sign-Up</a></li>
        </ul>
    </div>
</section>

{% include "footer.html" %}
