h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

p {
    font-size: 0.8rem;
}

.cafes-grid {
    display: grid;
    grid-gap: 2rem;
    padding: 70px;
}

.content {
    height: auto
}

@media screen and (max-width: 1680px) {
    .card{
        width: auto;
        height: 36.5rem;
        position: relative;
        margin-bottom: 1.5rem;
    }

    .cafes-grid{
        grid-template-columns:  repeat(3, 1fr);
        }

    .cafes-image {
        height: 300px;
        width: 412px;
        border-radius: 25px;
    }

    .button.fit{
        position: absolute;
        bottom: 0px;
    }

    }

@media screen and (max-width: 1280px) {
    .card{
        width: auto;
        height: 35.5rem;
        position: relative;
        margin-bottom: 1.5rem;
    }

    .cafes-grid{
        grid-template-columns:  repeat(2, 1fr);
        }

    .cafes-image {
        min-width: -webkit-fill-available;
    }

    .button.fit{
        position: absolute;
        bottom: 0px;
        min-width: -webkit-fill-available;
    }

    }

@media screen and (max-width: 980px) {
    h2 {
    font-size: 1.1rem
    }

    .card{
        width: auto;
        height: 30.5rem;
        position: relative;
        margin-bottom: 1.5rem;
    }

    .cafes-grid{
        grid-template-columns:  repeat(2, 1fr);
        }

    .cafes-image {
        height: 228px;
        width: 100%;
    }

    .button.fit{
        position: absolute;
        bottom: 0px;
        width: -webkit-fill-available;
    }

    }

@media screen and (max-width: 819px) {
    h2 {
    font-size: 1.1rem
    }

    .card{
        width: auto;
        height: 33.5rem;
        position: relative;
        margin-bottom: 1.5rem;
    }

    .cafes-grid{
        grid-template-columns:  repeat(2, 1fr);
        }

    .cafes-image {
        width: 100%;
    }

    }

@media screen and (max-width: 736px) {
    .card{
        width: auto;
        height: 29.5rem;
        position: relative;
        margin-bottom: 1.5rem;
    }

    .cafes-grid{
        grid-template-columns:  repeat(1, 1fr);
        padding: 40px;
        }

    .row {
        display: flex;
        justify-content: center;
    }

    .content {
        padding: 0 0 0 2rem
    }

    .cafes-image {
        height: 220px;
        width: 100%;
    }

    .button.fit{
        position: absolute;
        bottom: 0px;
        width: 93%;
    }

    }

